{% extends "admin_base.html"%}

{%block title%}
Admin Dashboard - Erasmus
{%endblock%}


{%block content%}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Users</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>{{user_count}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Not completed Users</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>{{not_compl}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Admin to Approve</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>UserID</th>
                                    <th>Username</th>
                                    <th>Vorname</th>
                                    <th>Nachname</th>
                                    <th>e-Mail</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for admin in data %}
                                <tr>
                                    <td>{{admin[0]}}</td>
                                    <td>{{admin[1]}}</td>
                                    <td>{{admin[2]}}</td>
                                    <td>{{admin[3]}}</td>
                                    <td>{{admin[4]}}</td>
                                    <td>
                                        <form method="post">
                                        <input type="hidden" name="btn_identifier" value="approver"/>
                                        <input type="hidden" name="mail" value="{{admin[4]}}" />
                                        <button class="btn btn-success btn-sm" type="submit">
                                            Approve
                                        </button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post">
                                        <input type="hidden" name="btn_identifier" value="deleter"/>
                                        <input type="hidden" name="mail" value="{{admin[4]}}" />
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            Delete
                                        </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}