<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{%block title%}{%endblock%}</title>
    <meta name="description" content="Erasmus Webform">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/Montserrat.css">
    <link rel="stylesheet" href="static/assets/css/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/vanilla-zoom.min.css">
</head>
{%block body%}{%endblock%}
</html>