{% extends "base.html"%}

{%block title%}
Home - Erasmus
{%endblock%}


{%block content%}
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/image4.jpg&quot;);color: rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Ersamus Anmeldung</h2>
            <p>Zur Eingabe ihrer Daten wird ein UserToken benötig, diesen Token bekommen sie von ihrem Schulinstitut.</p><a class="btn btn-outline-light btn-lg" type="button" href="{{url_for('register_user')}}">Daten eingeben</a>
        </div>
    </section>
</main>
{%endblock%}
    