{% extends "base.html"%}

{%block title%}
Register - Erasmus
{%endblock%}

{%block content%}
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Registration</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <form method="post">
                <div class="mb-3"><label class="form-label" for="token">Usertoken</label><input class="form-control item" type="text" id="token" name="token"></div>
                <div class="mb-3 text-center">
                    <div style="display: inline-block;">{{recaptcha.get_code()|safe}}</div>
                </div>
                <button class="btn btn-primary" type="submit">Anmelden</button>
            </form>
        </div>
    </section>
</main>
{%endblock%}