{% extends "admin_base.html"%}

{%block title%}
Users - Erasmus
{%endblock%}


{%block content%}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Team</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Employee Info</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Usertoken</th>
                            <th>e-Mail</th>
                            <th>Geburtstag</th>
                            <th>Telefon</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                        <tr>
                            <td>{{user[0]}}</td>
                            <td>{{user[1]}}</td>
                            <td>{{user[2]}}</td>
                            <td>{{user[3]}}</td>
                            <td>{{user[4]}}</td>
                            <td>{{user[5]}}</td>
                            <td>{{user[6]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}