{% extends "admin_base.html"%}

{%block title%}
Users - Erasmus
{%endblock%}


{%block content%}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Users</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">User Info</p>
        </div>

        <div class="card-body">
            <div class="md-3">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6"><input class="form-control form-control-user" type="text" id="del_user"
                        placeholder="Usertoken of User to delete..." name="del_user"></div>
                        <div class="col-md-6"><button class="btn btn-danger d-block btn-user" type="submit">Delete</button></div>
                    </div>
                </form>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Usertoken</th>
                            <th>e-Mail</th>
                            <th>Geburtstag</th>
                            <th>Telefon</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data %}
                            <tr>
                                <td>{{user[0]}}</td>
                                <td>{{user[1]}}</td>
                                <td>{{user[2]}}</td>
                                <td>{{user[3]}}</td>
                                <td>{{user[4]}}</td>
                                <td>{{user[5]}}</td>
                                <td>{{user[6]}}</td>
                                <td><a class="btn btn-primary btn-sm" type="button" href="{{url_for('user_profile', token=user[3])}}">Open</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}